---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar';
import AboutPage from '../components/About';
---

<Layout title="About Me">
  <div class="min-h-screen">
    <Navbar client:load/>
    <AboutPage client:load />
  </div>
</Layout>