---
// Footer component
---

<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-email mono">
                <a href="mailto:antareep2018@gmail.com"
                    >antareep2018[at]gmail.com</a
                >
            </div>
            <div class="footer-links mono">
                <a
                    href="https://calendar.google.com/calendar/u/0/appointments/schedules/AcZssZ1v8mKAXDoxF4MS_oihkbfX-z4AdNG8L0EIAwvqyEVj25AKlB6TN9B8J10dGkKGN2K9jnvDL3dq?gv=true"
                    >Schedule</a
                >
                <a href="/misc">Bleh.</a>
            </div>
        </div>
    </div>
</footer>
